<template>
    <div class="container">
        <form @submit.prevent="onSubmit">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" v-model="email" type="email" placeholder="Enter Email" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" v-model="password" type="password" placeholder="Enter Password" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                email: 'admin@foo.bar',
                password: 'foobaz',
                submitted: false
            }
        },
        methods: {
            onSubmit () {
                this.submitted = true;
                const { email, password } = this;
                const { dispatch } = this.$store;

                if (email && password) {
                    dispatch('Auth/login', { email, password });
                }
            }
        }
    }
</script>