<template>
    <div class="container">
        <form @submit.prevent="onSubmit">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" v-model="title" type="text" placeholder="Enter Title" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Slug</label>
                <div class="control">
                    <input class="input" v-model="slug" type="text" placeholder="Enter Slug" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Content</label>
                <div class="control">
                    <textarea name="content" v-model="content" class="textarea" placeholder="Enter Content"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link">Create</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    import PostsAPI from '../../api/posts';
    import VueRouter from '../../routes'

    export default {
        data () {
            return {
                title: null,
                slug: null,
                content: null,
            }
        },
        methods: {
            onSubmit () {
                const { title, slug, content } = this;

                if (title && slug && content) {
                    PostsAPI.create({title, slug, content}).then(
                        response => {
                            VueRouter.push({name: 'Posts'});
                        },
                        error => {
                            console.log(error.response.data);
                        }
                    );
                }
            }
        }
    }
</script>