<template>
    <div class="container" v-if="post">
        <form @submit.prevent="onSubmit">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" v-model="post.title" type="text" placeholder="Enter Title" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Slug</label>
                <div class="control">
                    <input class="input" v-model="post.slug" type="text" placeholder="Enter Slug" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Content</label>
                <div class="control">
                    <textarea name="content" v-model="post.content" class="textarea" placeholder="Enter Content"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link">Update</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    import PostsAPI from '../../api/posts';
    import VueRouter from '../../routes'

    export default {
        data () {
            return {
                post: null,
            }
        },
        created() {
            let slug = this.$route.params.slug;

            PostsAPI.show(slug)
                .then(
                    response => {
                        this.post = response.data;
                    },
                    error => {
                        this.post = null;
                        console.log(error.response.data);
                    }
                )
            ;
        },
        methods: {
            onSubmit () {
                let slug = this.$route.params.slug;

                PostsAPI.update(slug, this.post).then(
                    response => {
                        VueRouter.push({name: 'Posts'});
                    },
                    error => {
                        console.log(error.response.data);
                    }
                );
            }
        }
    }
</script>