<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="message" v-for="post in posts">
                    <div class="message-header">{{ post.title }} ({{ postedOn(post) }})</div>

                    <span>
                        <router-link :to="`/posts/${post.slug}`" exact>
                            <a class="navbar-item">Show Detail</a>
                        </router-link>
                    </span>

                    <span>
                        <router-link :to="`/posts/${post.slug}/edit`" exact>
                            <a class="navbar-item">Edit Post</a>
                        </router-link>
                    </span>

                    <div class="message-body">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PostsAPI from '../../api/posts';
    import moment from 'moment';

    export default {
        data() {
            return {
                posts: []
            }
        },
        created() {
            PostsAPI.list()
                .then(
                    response => {
                        this.posts = response.data.data;
                    },
                    error => {
                        this.posts = [];
                        console.log(error.response.data);
                    }
                )
            ;
        },
        methods: {
            postedOn(post) {
                return moment(post.created_at).fromNow();
            }
        }
    }
</script>