<template>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="message" v-if="post">
                    <div class="message-header">{{ post.title }} ({{ postedOn(post) }})</div>

                    <div class="message-body">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PostsAPI from '../../api/posts';
    import moment from 'moment';

    export default {
        data() {
            return {
                post: null
            }
        },
        created() {
            let slug = this.$route.params.slug;

            PostsAPI.show(slug)
                .then(
                    response => {
                        this.post = response.data;
                    },
                    error => {
                        this.post = null;
                        console.log(error.response.data);
                    }
                )
            ;
        },
        methods: {
            postedOn(post) {
                return moment(post.created_at).fromNow();
            }
        }
    }
</script>